<h2>{{isEditMode? 'EditStore': 'Add New Store' }}</h2>

<form nz-form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
  <!-- Store Name -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Store Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the store name!">
      <input nz-input formControlName="name" id="name" placeholder="Enter store name" />
    </nz-form-control>
  </nz-form-item>

  <!-- Store branch name -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="branchName">Store Brach</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the store branch!">
      <input nz-input formControlName="branchName" id="branchName" placeholder="Enter store branch" />
    </nz-form-control>
  </nz-form-item>

  <!-- Store Address -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Store Address</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the store address!">
      <input nz-input formControlName="address" id="address" placeholder="Enter store address" />
    </nz-form-control>
  </nz-form-item>

  <!-- Status -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isActive">Status</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="isActive" [nzCheckedChildren]="'Active'" [nzUnCheckedChildren]="'Inactive'"></nz-switch>
    </nz-form-control>
  </nz-form-item>

  <!-- Submit Button -->
  <nz-form-item nz-row class="button-group">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="storeForm.invalid">Save</button>
      <button nz-button nzType="default" (click)="goBack()" class="back-button">Back</button>
    </nz-form-control>
  </nz-form-item>